* {
    font-family: 'Acme', sans-serif;
}
body
{
    margin: 0px;
   
}
nav{
    width: 100%;
    height: 60px;
    margin: 0 auto;
    background-color: rgb(247, 252, 246);
    position: sticky;
    top: 0px;
    background-attachment:fixed ;
    background-size:cover ;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 200px;
    text-align: center;
    position: relative;
}
nav > ul li:hover .sous
{
    display: block;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: rgb(19, 17, 17);
    border-bottom: 2px solid transparent;
    padding: 10px 10px;
}   

nav a:hover{
    color: rgba(82, 75, 75, 0.74);
    
    padding-bottom: 10px;
}
.deroulant >a::after{
    content:"▼" ;
    font-size: 12px;
}


.sous
{
    display: none;
    z-index: 1000;
    position: absolute;
    width: 100%;
    box-shadow: 0px 1px 25px rgb(179, 104, 104);
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
    background-color: blanchedalmond;
}
.sous a {
    padding: 10px;
    border-bottom: none;

}
.sous a:hover{
    border-bottom: none;
    
}
.home
{
    width: 30px;
    float: left;  
    margin: 10px 10px 10px;
}
.ajustementmenu
{
    margin: 10px 0px 10px;
}

.section-1
{
    height: 100vh;
    background: url(vacances.jpeg);
    background-attachment:fixed ;
    background-size:cover ;
   
    margin-top: 100px;
    color: rgb(114, 97, 97);
    font-size: 50px;
    text-align: center;
    padding-top: 400px;
}
.box
{
    width: 100%;
    height: 400px;
}


.bloc
{
    border: 10px;

    background-color: beige;
    
}

ul
{
    list-style: none;
}


#steps ul{
    margin: 80px 0;
}

#steps ul li{
    width: 300px;
    float: left;
    padding-top: 140px;
    text-align: center;
    margin-right: 100px;   
}
#steps h4{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: black;
}
#steps p{
    margin-bottom: 20px; 
    color: black;
}

#planifier{
    background: url('crayon.PNG') no-repeat top center;
}
#organiser{
    background: url('livre.PNG') no-repeat top center;
}
#voyager{
    background: url('fusée.PNG') no-repeat top center;

}

.espacegris
{   margin-top: 500px;
    width: 100%;
    height: 300px;
    background-color: rgb(207, 201, 201);

}
input {
    width: 250px;
    padding: 10px 12px;
    margin-bottom: 5px;
    border: 1px solid #cccccc;
    border-bottom-color: #fff;
    border-right-color: #fff;
    border-radius: 4px;
    background: #e3e3e3;
    color: #888;
  }
  .contact
{
  height: 20%;
}
.center{
    text-align: center;
}